# Node & Build
node_modules/
dist/
dist-ssr/
build/
*.local

# Environment Variables (Nunca subir segredos)
.env
.env.local

# Ferramentas de IA / Logs
repomix-output.*
*.log
npm-debug.log*

# Sistema / IDE
.DS_Store
.vscode/
!.vscode/extensions.json
.idea/